  <section class="row">

    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
      <div class="air-quality-box col-xs-12 row" ng-controller="CurrentLocationController">
      	<img ng-show="loading" src="/imgs/loading.gif" height="50" width="50">
        <h5 ng-show="loading">Loading air data for your current location...</h5>
        <h1 ng-show="!loading">{{name}}</h1>
        <h4 ng-show="!loading">air quality:  <span class="air-quality {{quality}}">{{quality}}</span></h4>
        <p ng-show="!loading">{{description}}</p>
      </div>
    </div>
  </section>

