<section class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3" ng-controller="LocationsController">

        <form class="input-group row col-xs-12" ng-submit="add()">
            <input type="text" class="form-control" ng-model="newLocation" placeholder="Enter zipcode">
            <span class="input-group-btn">
            <button class="btn btn-success" type="submit">Add</button>
          </span>
        </form>
        <div class="air-quality-box col-xs-12 row" ng-repeat="location in locations">
            <div class="row">
                <div class="col-xs-11"></div>
                <button class="btn btn-danger col-xs-1 col-xs-offset-8" ng-click="remove($index)">X</button>
            </div>
            <div class="row">
                <h2 class="col-xs-6">{{location.name}}</h2>
                <h3 class="col-xs-6">air quality:  <span class="air-quality {{location.quality}}">{{location.quality}}</span></h3>
            </div>
        </div>
    </div>
</section>

